body {
    margin: 0;
    background-color: white;
}

.parent {
    display: flex;
    justify-content: space-between;
    background-color: #f16708;
    align-items: center;
    height: 100px;
    font-family: 'Shadows Into Light', cursive;
    font: size 40px;
    color: blue;
}

.child1 {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-left: 20px;
}

.child2 {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding-right: 20px;
    
}

.grandchild {
    display: flex;
    justify-content: space-between;
   
}
section {
    margin: 0 500px;
    background-color: white;
    text-align: right;
    align-content: right;
}
.nextTo {
    align-content: right;
    display: flex;
    color: blue;
    font-size: 45px;
    position: relative;
    right: -350px;
    top: -250px;
    font-family: 'Pacifico', cursive;
    padding: 0 auto;
    
}
.child3 {
    float: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 0px;    
}

.parent2 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 212);
    align-items: center;
    height: 200px;
    top: 100px;
}